# IDE
/.idea/*

# Node.js
/node_modules

# Encore
/public/entrypoints.json
/public/manifest.json

# Tools
/vendor/
/tools/*/vendor
/composer.lock
/.php-cs-fixer.cache
/tools/phpunit/.phpunit.result.cache
